@import '@fontsource/plus-jakarta-sans'; /* Defaults to weight 400 */
/* @import '@fontsource/plus-jakarta-sans/400.css'; Specify weight */
/* @import '@fontsource/plus-jakarta-sans/400-italic.css'; Specify weight and style */

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --main-purple: hsla(242, 48%, 58%);
  --main-purple-hover: hsla(243, 100%, 82%);
  --light-purple: hsla(242, 48%, 58%, 10%);
  --icon-button-hover: hsla(242, 48%, 58%, 15%);
  --icon-button-active: hsla(242, 48%, 58%, 25%);

  --black: hsla(237, 100%, 4%);
  --very-dark-gray-dark-bg: hsla(235, 16%, 15%);

  --dark-gray: hsla(235, 12%, 19%);
  --medium-gray: hsla(216, 15%, 57%);
  --light-gray-light-bg: hsla(220, 69%, 97%);

  --dark-gray-blue: hsla(218, 24%, 35%);

  --lines-dark: hsla(236, 11%, 27%);
  --lines-light: hsla(221, 69%, 94%);

  --red: hsla(0, 78%, 63%);
  --red-hover: hsla(0, 100%, 80%);

  --header-height-mobile: 4rem;
  --header-height-desktop: 6rem;

  --sidebar-background: hsla(0, 100%, 100%);
  --sidebar-width: 300px;
  --sidebar-navbtn-width-mobile: 290px;
  --sidebar-navbtn-width-desktop: 275px;

  --z-header: 10;
  --z-backdrop: 20;
  --z-popover: 30;
  /* --box-shadow-blurry: 0px 4px 6px 0px #364e7e1a; */
  --box-shadow-light: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
  --box-shadow-heavy: 0px -2px 2px rgba(9, 30, 66, 0.03),
    0px 2px 2px rgba(9, 30, 66, 0.15), 0px 3px 3px rgba(9, 30, 66, 0.2);

  /* --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64); */
}

/* semantic color variables for this project */
/* :root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  /* color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s; */
  line-height: 1.6;
  font-family: 'Plus Jakarta Sans', Inter, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  height: 100vh;
  /* min-height: 100vh; */
}

.icon-button {
  width: 100%;
  height: 100%;
  border-radius: 9999px; /* fully rounded */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s ease-in-out;
}

.icon-button--selected,
.icon-button:hover {
  background-color: var(--icon-button-hover);
}

.icon-button:active {
  background-color: var(--icon-button-active);
}

.modal-button {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 20px;
  user-select: none;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
