@import './base.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .sidebar-navbtn-hover-effect {
    background-color: var(--sidebar-navbtn-hover);
    border-radius: 0px 100px 100px 0px;
    transition: background-color 0.1s ease-in-out;

    span {
      color: var(--main-purple);
    }
  }

  .box-shadow-light {
    box-shadow: var(--box-shadow-light);
  }

  .box-shadow-heavy {
    box-shadow: var(--box-shadow-heavy);
  }
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
